<p id="notice"><%= notice %></p>

<div class="message">
	<p class="content"><%= @message.content %></p>
	<p class="username"><%= @message.username %>, <%= time_ago_in_words(@message.created_at) %></p>
</div>
