body {
	font-family: "Lucida Grande", Tahoma, sans-serif;
}

.message {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	background-color: #99ff99;
	padding: 5px;
	margin-right: 10px;
	margin-top: 5px;
}

.content {
	font-size: 14px;
	text-align: left;
}

.username {
	font-size: 10px;
	text-align: right;
}
