<!DOCTYPE html>
<html>
<head>
<title>messagehub</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
<%= javascript_include_tag "dashboard" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
